<div class="list-block" tapmode="highlight" onclick="openDetailWindow('<%= DeviceID %>', '<%= Name %>', '<%= StationId %>');">
    <div class="list-block-header clearfix">
        <span class="title">
            <img class="icon" src="../image/home/nav/shape_gongcheng.png" alt=""><%= Name %>
        </span>
    </div>
    <div class="list-block-main">
        <div class="row">
            <div class="flex-1 text-left">当前水位:</div>
            <div class="flex-1 text-right"><em><%= WaterValue %></em>m</div>
        </div>
        <div class="row">
            <div class="flex-1 text-left">去年同期水位:</div>
            <div class="flex-1 text-right"><em>--</em>m</div>
        </div>
        <div class="row">
            <div class="flex-1 text-left">采集时间:</div>
            <div class="flex-1 text-right datetime"><%= Md %></div>
        </div>
    </div>
    <div class="line-dotted"></div>
    <div class="list-block-footer clearfix">
        <div class="btn pull-right">查看详情</div>
    </div>
</div>