<div class="list-block">
    <div class="list-block-main">
        <div class="row">
            <div class="flex-1 text-left">所属水管所：</div>
            <div class="flex-1 text-right"><%= WaterHouseName %></div>
        </div>
        <div class="row">
            <div class="flex-1 text-left">灌溉面积：</div>
            <div class="flex-1 text-right"><em><%= IrrigatedArea %></em>万亩</div>
        </div>
        <div class="row">
            <div class="flex-1 text-left">建设时间：</div>
            <div class="flex-1 text-right"><%= BuildTime %></div>
        </div>
        <div class="row">
            <div class="flex-1 text-left">种植作物：</div>
            <div class="flex-1 text-right"><%= RaiseCrops %></div>
        </div>
        <div class="row">
            <div class="flex-1 text-left">取水来源：</div>
            <div class="flex-1 text-right datetime"><%= WaterIntake %></div>
        </div>
        <div class="line-dotted"></div>
        <div class="row">
            <div class="flex-1 text-left">年度计划用水：</div>
            <div class="flex-1 text-right"><em><%= Water_YearPlan %></em>万m³</div>
        </div>
        <div class="row">
            <div class="flex-1 text-left">年度已用水：</div>
            <div class="flex-1 text-right"><em><%= Water_YearActual %></em>万m³</div>
        </div>
        <div class="row">
            <div class="flex-1 text-left">本轮计划用水：</div>
            <div class="flex-1 text-right"><em><%= WaterRoundPlan %></em>万m³</div>
        </div>
        <div class="row">
            <div class="flex-1 text-left">本轮当前已用水：</div>
            <div class="flex-1 text-right"><em><%= PresentWater %></em>万m³</div>
        </div>
    </div>
</div>