<div class="list-block" tapmode="highlight" onclick="openGroupFrames('<%= StationId %>', '<%= Name %>');">
    <div class="list-block-header clearfix">
        <span class="title">
            <img class="icon" src="../image/home/nav/shape_jiangyu.png" alt=""><%= Name %>
        </span>
        <!--
        <span class="label label-danger pull-right">设备故障</span>
        -->
    </div>
    <div class="list-block-main">
        <div class="row">
            <div class="flex-1 text-left">时段雨量(<%= IntvName %>)：</div>
            <div class="flex-1 text-right"><em><%= DRPdec %></em>mm</div>
        </div>
    </div>
    <div class="line-dotted"></div>
    <div class="list-block-footer clearfix">
        <div class="btn pull-right">查看详情</div>
    </div>
</div>