<div class="media" tapmode="active" onclick="openFile('<%= FilePath %>');">
    <div class="media-left">
        <img src="../image/<%= FileType %>.png" style="width: 44px; height: 44px;">
    </div>
    <div class="media-body">
    	<div class="media-heading"><%= Name %></div>
        <div class="media-footing">
            <span class="file-size"><%= CreateDate %></span><span class="pull-right"><%= CreateUserName %></span>
        </div>
    </div>
</div>